{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images\fondoLogin\logoLacteos.ico' %}">
    <!-- Page Title  -->
    {% block tittle %}
    {% endblock %}
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}?ver=2.2.0">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}?ver=2.2.0">
</head>

<body class="nk-body bg-white has-sidebar ">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            <div class="nk-sidebar nk-sidebar-fixed " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="html/index.html" class="logo-link nk-sidebar-logo">
                            
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-body" data-simplebar>
                        <div class="nk-sidebar-content">
                            <div class="text-center px-3 pt-0 pb-0">
                                <img class="img-fluid mb-1" style="max-width: 150px;" src="{% static 'images/fondoLogin/lacteospng.png' %}" alt="Lacteos Nuevo Leon">
                                <h6 class="mb-0" style="font-size: 1rem; font-weight: 700; color: #1f2937;">Checador Lacteos Nuevo Leon</h6>
                            </div>
                            <div class="nk-sidebar-menu">
                                <ul class="nk-menu">
                                    <li class="nk-menu-item">
                                        <form method="post" action="{% url 'sincronizar_checadas' %}" class="px-3 pt-1 pb-1">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary btn-block">
                                                <em class="icon ni ni-reload"></em><span>Sincronizar checadas</span>
                                            </button>
                                        </form>
                                    </li>
                                    
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">Dashboards</h6>
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="/inicio/" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span>
                                            <span class="nk-menu-text">Dashboard Checador</span>
                                        </a>
                                    </li><!-- .nk-menu-item -->
                                    
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">Apartados</h6>
                                    </li><!-- .nk-menu-heading -->
                                    
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                            <span class="nk-menu-text">Usuarios</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/usuarios/" class="nk-menu-link"><span class="nk-menu-text">Usuarios del sistema</span></a>
                                            </li>
                                        </ul><!-- .nk-menu-sub -->
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                            <span class="nk-menu-text">Checador</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/empleados/" class="nk-menu-link"><span class="nk-menu-text">Empleados Checador</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/departamentos/" class="nk-menu-link"><span class="nk-menu-text">Departamentos</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/horarios/" class="nk-menu-link"><span class="nk-menu-text">Horarios</span></a>
                                            </li>
                                        </ul><!-- .nk-menu-sub -->
                                    </li><!-- .nk-menu-item -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
                                            <span class="nk-menu-text">Asistencias</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="/asistencias/hoy/" class="nk-menu-link"><span class="nk-menu-text">Asistencias del dia</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/asistencias/resumen/departamento/" class="nk-menu-link"><span class="nk-menu-text">Resumen por departamento</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/asistencias/resumen/empleado/" class="nk-menu-link"><span class="nk-menu-text">Resumen por empleado</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/asistencias/semana-operativa/" class="nk-menu-link"><span class="nk-menu-text">Semana operativa</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/asistencias/retardos/" class="nk-menu-link"><span class="nk-menu-text">Retardos</span></a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="/asistencias/horas-extra/" class="nk-menu-link"><span class="nk-menu-text">Horas extra</span></a>
                                            </li>
                                        </ul><!-- .nk-menu-sub -->
                                    </li><!-- .nk-menu-item -->
                                    
                                    
                                </ul><!-- .nk-menu -->
                            </div><!-- .nk-sidebar-menu -->
                            <div class="nk-sidebar-footer">
                                <ul class="nk-menu nk-menu-footer">
                                    <li class="nk-menu-item">
                                        <a class="nk-menu-link">
                                            <span class="nk-menu-icon">®</span>
                                            <span class="nk-menu-text">Ing. Adrian Artiño - 2026</span>
                                        </a>
                                    </li>
                                    
                                </ul><!-- .nk-footer-menu -->
                            </div><!-- .nk-sidebar-footer -->
                        </div><!-- .nk-sidebar-content -->
                    </div><!-- .nk-sidebar-body -->
                </div><!-- .nk-sidebar-element -->
            </div>
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">
                                <a href="html/index.html" class="logo-link">
                                    <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                                </a>
                            </div><!-- .nk-header-brand -->
                            <div class="nk-header-news d-none d-xl-block">
                                <div class="nk-news-list">
                                    <a class="nk-news-item">
                                        <div class="nk-news-icon">
                                            <em class="icon ni ni-clock"></em>
                                        </div>
                                        <div >
                                            <p id="reloj-en-vivo"></p>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- .nk-header-news -->
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-info d-none d-md-block">
                                                    <div class="user-status">Administrador</div>
                                                    <div class="user-name dropdown-indicator">{{ nombre_usuario }}</div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                        <span>AB</span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text">{{ nombre_usuario }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="html/user-profile-regular.html"><em class="icon ni ni-user-alt"></em><span>Ver Perfil</span></a></li>
                                                   
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="{% url 'logout' %}"><em class="icon ni ni-signout"></em><span>Cerrar Sesión</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                    <li class="dropdown notification-dropdown mr-n1">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Notifications</span>
                                                <a href="#">Mark All as Read</a>
                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-notification">
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested to <span>Widthdrawl</span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Your <span>Deposit Order</span> is placed</div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                </div><!-- .nk-notification -->
                                            </div><!-- .nk-dropdown-body -->
                                            <div class="dropdown-foot center">
                                                <a href="#">View All</a>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header @e -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            {% block content %}
                            {% endblock %}
                            
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer @s -->
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2020 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a>
                            </div>
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->
            </div>
            <!-- wrap @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js' %}?ver=2.2.0"></script>
    <script src="{% static 'assets/js/scripts.js' %}?ver=2.2.0"></script>
    <script src="{% static 'assets/js/charts/gd-default.js' %}?ver=2.2.0"></script>

    <script>
        function actualizarReloj() {
            const ahora = new Date();

            // Configuración de formato para el día de la semana y mes
            const opcionesDia = { weekday: 'long' };
            const opcionesMes = { month: 'long' };

            let diaSemana = ahora.toLocaleDateString('es-ES', opcionesDia);
            let diaNum = ahora.getDate();
            let mes = ahora.toLocaleDateString('es-ES', opcionesMes);
            let anio = ahora.getFullYear();

            // Capitalizar la primera letra del día y mes
            diaSemana = diaSemana.charAt(0).toUpperCase() + diaSemana.slice(1);
            mes = mes.charAt(0).toUpperCase() + mes.slice(1);

            // Formatear la hora (AM/PM)
            let horas = ahora.getHours();
            let minutos = ahora.getMinutes();
            let segundos = ahora.getSeconds();
            const ampm = horas >= 12 ? 'PM' : 'AM';

            horas = horas % 12;
            horas = horas ? horas : 12; // La hora '0' debería ser '12'
            
            // Agregar ceros a la izquierda si es necesario
            minutos = minutos < 10 ? '0' + minutos : minutos;
            segundos = segundos < 10 ? '0' + segundos : segundos;
            let horasStr = horas < 10 ? '0' + horas : horas;

            const formatoHora = `${horasStr}:${minutos}:${segundos} ${ampm}`;

            // Construir la cadena final
            const stringFinal = `${diaSemana} ${diaNum} de ${mes} del ${anio} - ${formatoHora}.`;

            // Inyectar en el HTML
            document.getElementById('reloj-en-vivo').innerHTML = stringFinal;
        }

        // Ejecutar la función cada segundo
        setInterval(actualizarReloj, 1000);

        // Ejecutar una vez al cargar la página para que no aparezca vacío
        actualizarReloj();
    </script>
</body>

</html>
