{% extends 'appChecador/menu/menu.html' %}

{% block tittle %}

    <title>Empleados - LNL</title>
{% endblock %}

{% block content %}
    <div class="components-preview wide-md mx-auto">
        <div class="nk-block-head nk-block-head-lg wide-sm">
            <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal">Empleados Checador</h2>
                <div class="nk-block-des">
                    <p class="lead">Lista de empleados en checador Hikvision</p>
                </div>
            </div>
        </div><!-- .nk-block-head -->
        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h4 class="nk-block-title">Lista de empleados</h4>
                    <div class="nk-block-des">
                        <p>Empleados traídos desde el checador de Hikvisión. Importante: Configurar su Departamento como primer paso.</p>
                    </div>
                </div>
            </div>
            <div class="card card-preview">
                <div class="card-inner">
                    <table class="datatable-init nk-tb-list nk-tb-ulist" data-auto-responsive="false">
                        <thead>
                            <tr class="nk-tb-item nk-tb-head">
                                <th class="nk-tb-col"><span class="sub-text">Empleado</span></th>
                                <th class="nk-tb-col tb-col-mb"><span class="sub-text">Departamento</span></th>
                                <th class="nk-tb-col tb-col-md"><span class="sub-text">Estatus</span></th>
                                <th class="nk-tb-col tb-col-lg"><span class="sub-text">Horarios</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in empleados %}
                            <tr class="nk-tb-item">
                                <td class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-avatar bg-dim-primary d-none d-sm-flex">
                                            <span>{{empleado.id_biometrico}}</span>
                                        </div>
                                        <div class="user-info">
                                            <span class="tb-lead">{{empleado.nombre}}</span>
                                            {% if empleado.numero_empleado%}
                                            <span># Empleado: {{empleado.numero_empleado}}</span><br>
                                            <span># Seguridad Social: {{empleado.numero_seguridad_social}}</span>
                                            {% else %}
                                            <span># Empleado: <span>No asignado</span> <br> NSS: <span>No asignado</span>s</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="nk-tb-col tb-col-mb" data-order="35040.34">
                                    {% if empleado.departamento %}
                                    <span class="tb-amount">{{ empleado.departamento }}</span>
                                    {% else %}
                                    <span class="tb-amount">Departamento no asignado</span>
                                    {% endif %}
                                </td>
                                <td class="nk-tb-col tb-col-md">
                                    {% if empleado.activo %}
                                    <span class="badge badge-dot badge-success">Activo</span>
                                    {% else %}
                                    <span class="badge badge-dot badge-danger">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td class="nk-tb-col tb-col-lg" data-order="Email Verified - Kyc Unverified">
                                    <ul class="list-status">
                                        <li><em class="icon text-success ni ni-check-circle"></em> <span>Email</span></li>
                                    </ul>
                                </td>
                            </tr><!-- .nk-tb-item  -->
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- .card-preview -->
        </div> <!-- nk-block -->
    </div><!-- .components-preview -->
{% endblock %}